In [437]:
import psycopg2

In [452]:
psycopg2

In [490]:
conn = psycopg2.connect("dbname=indoor-nav user=postgres host=database")

In [491]:
conn

In [492]:
cur = conn.cursor()

In [493]:
cur.execute("SELECT * FROM edges ORDER BY _area_id")

In [494]:
sql = "UPDATE edges SET area = %s WHERE edges._area_id = %s"

In [495]:
for row in cur:
    cur1 = conn.cursor()
    print(row[1])
    print(cur.rownumber)
    area_id = row[1]
    count = cur.rownumber
    print(cur.mogrify(sql, (count, area_id)))
    cur1.execute(sql, (count, area_id))
    print(cur)
#     conn.commit()

1BUg4a4jr0B9Q5NnDgB6LG
1
b"UPDATE rooms SET area = 1 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6LG'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6LL
2
b"UPDATE rooms SET area = 2 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6LL'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6LM
3
b"UPDATE rooms SET area = 3 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6LM'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6LR
4
b"UPDATE rooms SET area = 4 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6LR'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6LS
5
b"UPDATE rooms SET area = 5 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6LS'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6M_
6
b"UPDATE rooms SET area = 6 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6M_'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6M0
7
b"UPDATE rooms SET area = 7 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6M0'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6M5
8
b"UPDATE rooms SET area = 8 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6M5'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6M6
9
b"UPDATE rooms SET area = 9 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6M6'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Ma
10
b"UPDATE rooms SET area = 10 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Ma'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MB
11
b"UPDATE rooms SET area = 11 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MB'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MC
12
b"UPDATE rooms SET area = 12 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MC'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mf
13
b"UPDATE rooms SET area = 13 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mf'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mg
14
b"UPDATE rooms SET area = 14 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mg'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MJ
15
b"UPDATE rooms SET area = 15 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MJ'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MK
16
b"UPDATE rooms SET area = 16 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MK'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Ml
17
b"UPDATE rooms SET area = 17 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Ml'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mn
18
b"UPDATE rooms SET area = 18 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mn'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mo
19
b"UPDATE rooms SET area = 19 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mo'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MP
20
b"UPDATE rooms SET area = 20 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MP'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MQ
21
b"UPDATE rooms SET area = 21 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MQ'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mt
22
b"UPDATE rooms SET area = 22 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mt'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mu
23
b"UPDATE rooms SET area = 23 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mu'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MV
24
b"UPDATE rooms SET area = 24 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MV'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Mz
25
b"UPDATE rooms SET area = 25 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Mz'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6MZ
26
b"UPDATE rooms SET area = 26 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6MZ'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6N_
27
b"UPDATE rooms SET area = 27 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6N_'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6N0
28
b"UPDATE rooms SET area = 28 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6N0'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6N5
29
b"UPDATE rooms SET area = 29 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6N5'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6N6
30
b"UPDATE rooms SET area = 30 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6N6'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Na
31
b"UPDATE rooms SET area = 31 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Na'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NB
32
b"UPDATE rooms SET area = 32 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NB'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NC
33
b"UPDATE rooms SET area = 33 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NC'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Ng
34
b"UPDATE rooms SET area = 34 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Ng'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NJ
35
b"UPDATE rooms SET area = 35 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NJ'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Nk
36
b"UPDATE rooms SET area = 36 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Nk'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NK
37
b"UPDATE rooms SET area = 37 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NK'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Nn
38
b"UPDATE rooms SET area = 38 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Nn'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6No
39
b"UPDATE rooms SET area = 39 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6No'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NP
40
b"UPDATE rooms SET area = 40 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NP'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NQ
41
b"UPDATE rooms SET area = 41 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NQ'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Nt
42
b"UPDATE rooms SET area = 42 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Nt'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Nu
43
b"UPDATE rooms SET area = 43 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Nu'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NV
44
b"UPDATE rooms SET area = 44 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NV'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Nz
45
b"UPDATE rooms SET area = 45 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Nz'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6NZ
46
b"UPDATE rooms SET area = 46 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6NZ'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Od
47
b"UPDATE rooms SET area = 47 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Od'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Oe
48
b"UPDATE rooms SET area = 48 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Oe'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Oj
49
b"UPDATE rooms SET area = 49 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Oj'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Ok
50
b"UPDATE rooms SET area = 50 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Ok'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Ot
51
b"UPDATE rooms SET area = 51 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Ot'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Ox
52
b"UPDATE rooms SET area = 52 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Ox'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6OX
53
b"UPDATE rooms SET area = 53 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6OX'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6Oy
54
b"UPDATE rooms SET area = 54 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6Oy'"
<cursor object at 0x7f1b74705150; closed: 0>
1BUg4a4jr0B9Q5NnDgB6OY
55
b"UPDATE rooms SET area = 55 WHERE rooms._area_id = '1BUg4a4jr0B9Q5NnDgB6OY'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048f3
56
b"UPDATE rooms SET area = 56 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048f3'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048f5
57
b"UPDATE rooms SET area = 57 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048f5'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048f6
58
b"UPDATE rooms SET area = 58 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048f6'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048f9
59
b"UPDATE rooms SET area = 59 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048f9'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048fC
60
b"UPDATE rooms SET area = 60 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048fC'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048fH
61
b"UPDATE rooms SET area = 61 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048fH'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048fI
62
b"UPDATE rooms SET area = 62 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048fI'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048fK
63
b"UPDATE rooms SET area = 63 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048fK'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048fO
64
b"UPDATE rooms SET area = 64 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048fO'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048fV
65
b"UPDATE rooms SET area = 65 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048fV'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048h5
66
b"UPDATE rooms SET area = 66 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048h5'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048hL
67
b"UPDATE rooms SET area = 67 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048hL'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048i_
68
b"UPDATE rooms SET area = 68 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048i_'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048ia
69
b"UPDATE rooms SET area = 69 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048ia'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048ie
70
b"UPDATE rooms SET area = 70 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048ie'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048il
71
b"UPDATE rooms SET area = 71 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048il'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048ix
72
b"UPDATE rooms SET area = 72 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048ix'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048iX
73
b"UPDATE rooms SET area = 73 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048iX'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048iY
74
b"UPDATE rooms SET area = 74 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048iY'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048k1
75
b"UPDATE rooms SET area = 75 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048k1'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048k2
76
b"UPDATE rooms SET area = 76 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048k2'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048k4
77
b"UPDATE rooms SET area = 77 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048k4'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048k8
78
b"UPDATE rooms SET area = 78 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048k8'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kd
79
b"UPDATE rooms SET area = 79 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kd'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kF
80
b"UPDATE rooms SET area = 80 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kF'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kh
81
b"UPDATE rooms SET area = 81 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kh'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kj
82
b"UPDATE rooms SET area = 82 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kj'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kk
83
b"UPDATE rooms SET area = 83 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kk'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kN
84
b"UPDATE rooms SET area = 84 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kN'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kp
85
b"UPDATE rooms SET area = 85 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kp'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kr
86
b"UPDATE rooms SET area = 86 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kr'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kR
87
b"UPDATE rooms SET area = 87 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kR'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048ks
88
b"UPDATE rooms SET area = 88 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048ks'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kT
89
b"UPDATE rooms SET area = 89 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kT'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kU
90
b"UPDATE rooms SET area = 90 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kU'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kv
91
b"UPDATE rooms SET area = 91 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kv'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kw
92
b"UPDATE rooms SET area = 92 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kw'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048kW
93
b"UPDATE rooms SET area = 93 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048kW'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048ky
94
b"UPDATE rooms SET area = 94 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048ky'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048l$
95
b"UPDATE rooms SET area = 95 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048l$'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048l0
96
b"UPDATE rooms SET area = 96 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048l0'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048l7
97
b"UPDATE rooms SET area = 97 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048l7'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lb
98
b"UPDATE rooms SET area = 98 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lb'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lB
99
b"UPDATE rooms SET area = 99 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lB'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lc
100
b"UPDATE rooms SET area = 100 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lc'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lD
101
b"UPDATE rooms SET area = 101 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lD'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lE
102
b"UPDATE rooms SET area = 102 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lE'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lf
103
b"UPDATE rooms SET area = 103 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lf'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lg
104
b"UPDATE rooms SET area = 104 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lg'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048li
105
b"UPDATE rooms SET area = 105 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048li'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lJ
106
b"UPDATE rooms SET area = 106 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lJ'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lL
107
b"UPDATE rooms SET area = 107 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lL'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lM
108
b"UPDATE rooms SET area = 108 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lM'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048ln
109
b"UPDATE rooms SET area = 109 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048ln'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lo
110
b"UPDATE rooms SET area = 110 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lo'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lP
111
b"UPDATE rooms SET area = 111 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lP'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lq
112
b"UPDATE rooms SET area = 112 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lq'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lQ
113
b"UPDATE rooms SET area = 113 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lQ'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lS
114
b"UPDATE rooms SET area = 114 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lS'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lu
115
b"UPDATE rooms SET area = 115 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lu'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ048lZ
116
b"UPDATE rooms SET area = 116 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ048lZ'"
<cursor object at 0x7f1b74705150; closed: 0>
1mWTVVwiXDHQKYjSZ04A3D
117
b"UPDATE rooms SET area = 117 WHERE rooms._area_id = '1mWTVVwiXDHQKYjSZ04A3D'"
<cursor object at 0x7f1b74705150; closed: 0>

In [496]:
conn.commit()

In [497]:
cur.close()

In [498]:
conn.close()